repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all
        language: system
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (manual)
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        pass_filenames: false
        stages: [manual]

      - id: helm-lint
        name: helm lint (manual)
        entry: helm lint ./charts/pbs-cloud
        language: system
        pass_filenames: false
        stages: [manual]

      - id: cargo-test
        name: cargo test
        entry: ./scripts/test.sh
        language: system
        pass_filenames: false
